body {
  font-family: 'IM Fell English', serif;
  margin: 30px;
  background-color: #E8E8E8;
}

header {
	font-family: 'IM Fell English SC', serif;
}

a:link {
    color: #5F7EC6;
}

a:visited {
    color: #5F7EC6;
}

a:hover {
    color: #FF6B6B;
}

a:active {
    color: #FF6B6B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #E8E8E8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:link {
    color: #E8E8E8;
}

li a:visited {
    color: #E8E8E8;
}

li a:hover {
	color: #333;
    background-color: #E8E8E8;
}